<p style="text-align: right; font-size: 110%;">
    <strong>
        <%= link_to 'English', url_for(locale: 'en') %>
        &nbsp;&nbsp;-&nbsp;&nbsp;
        <%= link_to "Portuguese", url_for(locale: 'pt-BR') %>
    </strong>
</p>