<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a website to submit and check grades from scholl</p>
    <hr class="my-4">
    <p>To start, click in button below: </p>
    <%= link_to 'Check grades', grades_path, class:"btn btn-primary btn-lg" %>
    <%= link_to 'Submit new grades', new_grade_path, class:"btn btn-primary btn-lg" %>
</div>