<br><br><br>
<div class="card">
  <div class="card-header p-3 mb-2 bg-success text-white" >
    Featured
  </div>
  <div class="card-body ">
    <h5 class="card-title">New methods to teach</h5>
    <p class="card-text">5 New Teaching Methods Improving Education</p>
    <%= link_to 'Check out', "https://bit.ly/2GgUPdn", class:"btn btn-danger"%>
  </div>
</div>